$def-black:#000;
$def-white: #fff;

$color-main: #21cece;

$text-gray-first: #575153;
$text-gray-second:#989898;
$text-gray-third: #9a9a9a;
$text-gray-for: #8e8c8c;
$text-gray-five: #454647;


$button-gray-first: #737373;
$button-gray-second: #333333;


$border-color: #e7e7e7;
$background-color: #f8f8f8;


$font-first-light: 'MontserratLight', sans-serif;
$font-first-regular: 'MontserratRegular', sans-serif;
$font-first-bold: 'MontserratBold', sans-serif;
$font-second-regular: 'RobotoRegular', sans-serif;


